GOOGLE_API_KEY=YOUR_KEY_HERE
GEMINI_MODEL=gemini_model_name

LOCAL_HF_MODEL_NAME=Qwen/Qwen2.5-1.5B-Instruct
HF_TOKEN=YOUR_TOKEN_HERE

GROQ_API_KEY=YOUR_KEY_HERE
GROQ_MODEL_NAME=groq_model_name
GROQ_BASE_URL=https://api.groq.com/openai/v1

# 'gemini', 'groq', or 'local'
MODEL_MODE=gemini

# Directory path for RAG knowledge base
DATA_DIR=app/rag/data